.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  
}
.register-container{
  margin-top: 1.6rem;
  background-color: var(--bg-color);
  padding: 1.5rem;
  border-radius: 10px;
}
.register-head{
  font-size: 3rem;
 text-align: center;
 color: var(--text-color);
}

.register-subheader{
  font-size: 2rem;
 text-align: center;
  color: var(--text-color);
  text-transform: uppercase;
}

.register-dataform {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: red; */
}

.register-dataform-mail{
   padding: .3rem;
   margin: .8rem 0;
   border-radius: 3px;
   height: 2.5rem;
   width: 100%;
   outline: 0;
   border: 2px solid var(--border-color);
   color: var(--text-color);
}

.register-dataform-password{
  padding: .3rem;
  margin: .8rem 0;
  border-radius: 3px;
  height: 2.5rem;
   width: 100%;
  outline: 0;
  border: 2px solid var(--border-color);
  color: var(--text-color);
}

.register-dataform-button{
  padding: .3rem;
  margin: 1rem auto;
  height: 2.5rem;
  width: 50%;
  background-color: transparent;
  border: 2px solid var(--border-color);
  border-radius: 3px;
  outline: 0;
}

.register-small{
  padding: .3rem;
  margin: auto;
 font-size: 1.2rem;
  height: 2rem;
}

.register-showpassword{
  position: fixed;
  top: 52%;
  left: 57.5%;
  cursor: pointer;
  background-color: var(--bg-color);
  padding: 3px;
  border-radius: 2px;
  vertical-align: middle;
}

.register-showCfpassword{
  position: fixed;
  top: 61.5%;
  left: 57.5%;
  cursor: pointer;
  background-color: var(--bg-color);
  padding: 3px;
  border-radius: 2px;
  vertical-align: middle;
}

.register-gender{
  padding: .3rem;
  margin: 1rem 0;
  border-radius: 3px;
  height: 2.5rem;
   width: 100%;
  outline: 0;
  border: 2px solid var(--border-color);
  color: var(--text-color); 
}